<form action="/convert" method="GET">
	<select name="measurement">
	<option value="pounds">Pounds</option>
	<option value="ounces">Ounces</option>
</select>
<input type="number" name="amount">
<input type="submit" value="Submit">

</form>