<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<form class="form-inline" action="/convert" method="GET">
	<select name="measurement">
	<option value="pounds">Pounds</option>
	<option value="ounces">Ounces</option>
</select>
<input type="number" name="amount" class="input-large search-query">
<input type="submit" value="Submit" class="btn btn-primary">

</form>